body{
    background-repeat: no-repeat;
}

.letra{
font-family: 'Josefin Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
}

.otro{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: aliceblue;

}

.signos{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: aliceblue;
}

